.msp-plugin {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  border: 1px solid var(--mantine-primary-color-7);
  box-shadow: 0 0 20px 1px  var(--mantine-primary-color-2);
}

.viewer {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  /* border-style: dashed;
  border-color: rgb(168, 14, 40); */
}

.viewer-content {
  position: relative;
  display: flex;
  height: 97%;
  /* border-style: dashed;
  border-color: rgb(21, 167, 53); */
}