.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  width: 100%;
  /* border-style: dashed;
  border-color: rgb(136, 206, 23); */
}

.layout__header {
  width: 100%;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  /* border-style: dashed;
  border-color: rgb(161, 16, 201); */
}

.layout__content {
  display: flex;
  flex: 1;
  min-height: 0;
  /* border-style: dashed;
  border-color: rgb(17, 194, 132);      */
}

.layout__footer {
  min-height: 16px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-style: dashed;
  border-color: #efbd1a; */
}