.serverStatus {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 10px;
   /* border-style: dashed;
   border-color: #ff0000; */
   margin-right: 1em;
}

.serverStatus__label {
  color: black;
}

[data-mantine-color-scheme="dark"] .serverStatus__label {
    color: white;
}

.dot {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid rgb(59, 53, 53);
}

.dot--yellow {
  background-color: #fff700;
  animation: yellowGlow 0.75s infinite alternate;
}

.dot--red {
  background-color: #ff0000;
  animation: redGlow 0.33s infinite alternate;
}

.dot--green {
  background-color: #33ff00;
  animation: greenGlow 1s infinite alternate;
}
 
@keyframes greenGlow {
  from {
    box-shadow: 0 0 5px #33ff00;
  }
  to {
    box-shadow: 0 0 15px #33ff00, 0 0 20px #33ff00;
  }
}

@keyframes redGlow {
  from {
    box-shadow: 0 0 5px #ff0000;
  }
  to {
    box-shadow: 0 0 15px #ff0000, 0 0 20px #ff0000;
  }
}

@keyframes yellowGlow {
  from {
    box-shadow: 0 0 5px #fff700;
  }
  to {
    box-shadow: 0 0 15px #fff700, 0 0 20px #fff700;
  }
}