.dropzone {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;        
}

.dropzone__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 5em;            
}

.dropzone__state {
    display: flex;
    justify-content: center;
    align-items: center;      
}