.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.home__buttonsArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}