.msp-plugin {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  border: 2px solid var(--mantine-primary-color-7);
}

.viewer {
    height: 100%;
    padding-bottom: "2em";
    display: "flex";
    flex-direction: "column";
}