.unstyledTextInput {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.unstyledTextInput__wrapper {
  display: flex;
  align-items: center;
}

.unstyledTextInput__prefix {
  font-size: 0.91em;
  margin-right: .25em;
  user-select: none;
  color: black;
}

[data-mantine-color-scheme="dark"] .unstyledTextInput__prefix {
  color: white;
}

.unstyledTextInput__input-field {
  border: none;
  background: transparent;
  font-size: 0.84em;
  padding: 4px 6px;
  outline: none;
  flex: 1;
  width: 100%;
}

.unstyledTextInput__input-field--bold {
  font-weight: bold;
}

.unstyledTextInput__input-field::placeholder {
  color: var(--color-grey-lighter-dark);
}

.unstyledTextInput__input-field--bold::placeholder {
  font-weight: bold;
}

.unstyledTextInput__input-field--permanentBackground {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.unstyledTextInput__input-field:hover {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

[data-mantine-color-scheme="dark"] .unstyledTextInput__input-field:hover {
  background-color: rgba(0, 0, 0, 0.24);
}

.unstyledTextInput__input-field:focus {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

[data-mantine-color-scheme="dark"] .unstyledTextInput__input-field:focus {
  background-color: rgba(0, 0, 0, 0.24);
}

.unstyledTextInput__input-error {
  border-bottom: 2px solid red;
}

.unstyledTextInput__error-text {
  color: red;
  font-size: 0.7em;
}
